:8080 {
  encode zstd gzip

  handle /linux/* {
    reverse_proxy linux:3000
  }

  handle /browser/* {
    reverse_proxy browser:3000
  }

  handle_path /code/* {
    reverse_proxy code:8443
  }

  # ttyd trabaja en raíz dentro del contenedor; Caddy elimina /powershell.
  handle_path /powershell/* {
    reverse_proxy powershell:7681
  }

  handle {
    root * /srv
    try_files {path} /index.html
    file_server
  }
}
