:8080 {
  encode zstd gzip

  handle /linux/* {
    reverse_proxy linux:3000
  }

  handle /browser/* {
    reverse_proxy browser:3000
  }

  handle_path /code/* {
    reverse_proxy code:8443
  }

  handle_path /powershell/* {
    reverse_proxy powershell:7681
  }

  handle /api/* {
    reverse_proxy api:3300
  }

  @root path /
  handle @root {
    root * /srv
    rewrite * /boot.html
    header Cache-Control "no-store, no-cache, must-revalidate"
    file_server
  }

  handle {
    root * /srv
    header Cache-Control "no-cache"
    try_files {path} /boot.html
    file_server
  }
}
